@model IEnumerable<WebApplication3.Models.UserRole>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>User Role List With Tag Helper</h3>
        </div>

        <div class="col-md-4">
            <a style="margin-top:15px" class="btn btn-primary pull-right" asp-controller="UserRoleWithTagHelper" asp-action="CreateRole">Create New</a>
        </div>
    </div>

    <hr style="border:1px solid" />

    @if(ViewBag.Message != null)
    {
        <div class="alert alert-success">
            <strong>ViewBag!</strong> @ViewBag.Message
        </div>
    }

    @if (ViewData["Message"] != null)
    {
        <div class="alert alert-success">
            <strong>ViewData!</strong> @ViewData["Message"]
        </div>
    }

   @* @if (TempData["Message"] != null)
    {
        <div class="alert alert-success">
            <strong>TempData!</strong> @TempData["Message"]
        </div>
    }*@

    <div class="row">

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Rolde Id</th>
                <th>Rolde Name</th>
                <th>Role Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.RoleID</td>
                            <td>@item.RoleName</td>
                            <td>@item.RoleDesc</td>
                            <td>
                                <a asp-controller="UserRoleWithTagHelper" asp-action="EditRole" asp-route-roleID="@item.RoleID">Edit</a> |
                                <a asp-controller="UserRoleWithTagHelper" asp-action="Details" asp-route-id="@item.RoleID">View Details</a> |
                                <a asp-controller="UserRoleWithTagHelper" asp-action="DeleteRole" 
                                onclick="return confirm('Are yu sure you want to delete?')" asp-route-id="@item.RoleID">Delete</a>
                            </td>                      
                        </tr>
                        
                    }   
        </tbody>
    </table>

    </div>
</div>
